:root {
    font-family: sans-serif;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
}

#root {
    min-height: 100dvh;
    display: flex;
}

.container {
    margin: auto;
}