:root {
    font-family: sans-serif;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
}

.main-content {
    min-height: calc(100dvh - 4.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.keyboard-container { 
    overflow-x: auto;
    margin-bottom: 3rem;
}

