@import '../key/key.scss';

.pressed-keys {
    padding: 0.4rem;
    min-height: 3.2375rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 0.4rem;
        overflow: hidden;

        li {
            @extend .key;
            font-size: 1.25rem;
            flex-shrink: 0;

            img {
                max-height: 1.25rem;
                margin: 0 auto;
            }

            &.last {
                color: #000000;

                img {
                    -webkit-filter: invert(100%); /* Safari/Chrome */
                    filter: invert(100%);
                }
            }
        }
    }
}