@import '../key/key.scss';

.pressed-keys {
    padding: 0.4rem;
    min-height: 4.5rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 0.4rem;
        overflow: hidden;

        li {
            @extend .key;
            font-size: 1.25rem;
            flex-shrink: 0;
        }
    }
}