.key {
    height: 3.7rem;
    min-width: 3.7rem;
    padding: 0.75rem 0.5rem;
    border-radius: 0.15em;
    background-color: #2e2e2e;
    user-select: none;
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;

    &_centered {
        .key__label {
            display: flex;
            justify-content: center;
        }
    }

    &_wide {
        flex-grow: 1;
    }

    &_small-text {
        .key__label {
            font-size: 0.9rem;
        }
    }

    &_pressed {
        background-color: #6c6c6c;
    }

    &_was-pressed {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 0.5rem;
            height: 0.5rem;
            background:linear-gradient(-135deg, rgb(127, 255, 150) 50%, rgba(127, 255, 150, 0) 50%)
        }
    }

    &__label {
        font-size: 1.25rem;
        width: 100%;

        img {
            display: block;
            height: 100%;
            width: auto;
            max-height: 1.25rem;
        }
    
        &_secondary {
            align-self: flex-end;
            color: #a9a9a9;
        }
    }
}